.nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  z-index: 20;
  min-width: 320px;
}

.nav__opacity-bg {
  position: absolute;
  opacity: 0.6;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.nav__full-opacity {
  z-index: 40;
  opacity: 1;
}

.nav__logo {
  height: 4.5rem;
  opacity: 1;
}
