.random-section {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: inherit;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4rem;
  margin-right: 4rem;
  gap: 45px 45px;
  justify-content: center;
  z-index: inherit;
  max-width: 1400px;
}

.box-flex {
  position: relative;
  width: 200px;
  height: fit-content;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  .box-flex {
    width: 90vw;
    min-width: 300px;
    height: fit-content;
  }
}

.img-recipe {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  .img-recipe {
    object-fit: cover;
    height: 10rem;
  }
}

.random-title {
  z-index: inherit;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.info-label {
  position: relative;
  margin-bottom: 20px;
  width: 200px;
  color: black;
}
@media only screen and (max-width: 600px) {
  .info-label {
    width: 100%;
  }
}

.label-text {
  width: 75%;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
}

.health-label {
  font-size: 12px;
  color: var(--secondary-grey);
}

.button-div {
  width: 100%;
  height: 100%;
  border: 2px solid green;
}

.view-recipe-btn {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid var(--primary-red);
}

.view-recipe-btn:hover {
  background-color: var(--secondary-grey);
  color: var(--tertiary-white);
}

.lemon-img {
  position: absolute;
  right: 0px;
  top: 5px;
  width: 40px;
}

.star-img {
  margin-top: 10px;
  width: 1.25rem;
  height: auto;
}
